@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<FiberPackageSection>>
@{
    var content = Model?.Content;
    var setting = Model?.Settings as SectionSettingModel;
    //var addressLookupPageUrl = Umbraco?.Content(new Guid("b8ecfce9-f1a7-4485-8d36-e08ec5166e26"))?.Url()?.TrimEnd("/");
}
@if (content != null)
{
    <!-------------------------------------- pacakge --------------------->
    <div class="pacakge-section @setting?.Theme">

        <div class="container-xl">
            @if (!string.IsNullOrWhiteSpace(content.Heading) || !string.IsNullOrWhiteSpace(content.Description?.ToString()))
            {
                <div class="section-heading">
                    @if (!string.IsNullOrWhiteSpace(content.Heading))
                    {
                        <h2>@content.Heading</h2>
                    }

                    @if (!string.IsNullOrWhiteSpace(content.Description?.ToString()))
                    {
                        @Html.Raw(content.Description)
                    }
                </div>
            }
            <div class="package-list">
                <div class="row">
                    @await Html.PartialAsync("~/Views/Partials/_FiberPackages.cshtml")
                </div>
            </div>
        </div>

    </div>

    <!-------------------------------------------Modal ------------------------------->
    <div class="modal fade"
         id="searchInternetPackages"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header flex-column align-items-start pb-0 pt-64">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-64">
                    <div class="search-section py-0">
                        <div class="container">
                            <h2 class="title black-950 mb-40 text-center fw-600">@(!string.IsNullOrWhiteSpace(content.PopupHeading) ? content.PopupHeading : "Kan jeg få nef Fiber?")</h2>
                            <div class="form-group mb-32 autocomplete-container">
                                <input type="text" id="adresse" class="form-control" placeholder="@(!string.IsNullOrWhiteSpace(content.SearchPlaceholder) ? content.SearchPlaceholder : "Søg")" aria-label="Søg" />
                                <button type="button" disabled data-package="fiber" data-redirecturl="" class="btn location-search-button @(!string.IsNullOrWhiteSpace(content.ButtonTheme) ? content.ButtonTheme : "dark_blue_btn")">@(!string.IsNullOrWhiteSpace(content.SearchButtonText) ? content.SearchButtonText : "Søg")</button>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="https://cdn.dataforsyningen.dk/dawa/assets/dawa-autocomplete2/1.0.2/unfilled/dawa-autocomplete2.min.js"></script>
<script asp-append-version="true" src="~/assets/js/packagescommon.output.min.js"></script>