@using Umbraco.Cms.Core.Models.Blocks
@using UmbracoProject.App_Code.Helpers
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<ImageBannerSection>>
@{
    var content = Model?.Content;
}

<!-----------------------------banner----------------------------->
<div class="banner">
    @if (content?.Image?.MediaUrl() != null)
    {

        @* <img src="@content?.Image.GetWebp(1440,0)" class="img-fluid banner-image" alt="banner">  *@

        <img src="@(content?.Image?.GetCropUrl(preferFocalPoint: true,furtherOptions: "&format=webp",quality:80))" class="img-fluid banner-image" alt="banner">

        @*<img src="@(content?.Image?.GetCropUrl(width: 1400, preferFocalPoint: true, furtherOptions: "&format=webp"))"
     srcset="@(content?.Image?.GetCropUrl(width: 600, furtherOptions: "&format=webp") + " 600w, " + 
              content?.Image?.GetCropUrl(width: 1400, furtherOptions: "&format=webp") + " 1400w")"
     sizes="(max-width: 600px) 600px, 1200px"
     alt="Banner Image">*@



      @*   var image = content?.Image;

        if (image != null)
        {
            // Get focal point
            var focalPoint = image.LocalCrops?.FocalPoint;
            if (focalPoint != null)
            {
                var imageUrl = image.Url() + $"?mode=crop&width=1440&height=560&anchor={focalPoint.Left},{focalPoint.Top}&format=webp&quality=80";
                <img src="@imageUrl" alt="@image.Name" class="img-fluid banner-image" />
            }
            else
            {
                <img src="@image.Url()" alt="@image.Name" class="img-fluid banner-image" />
            }
        } *@


        @* <img src="@content?.Image?.GetCropUrl("laptop")" class="img-fluid banner" alt="banner">  *@

        @*  <picture>
            <!-- Mobile (393px x 324px) -->
            <source media="(max-width: 393px)"
                    sizes="393px"
                    type="image/webp"
                    srcset="@(content?.Image?.GetCropUrl(width: 393, height: 324, preferFocalPoint: true, furtherOptions: "&format=webp",quality:80))">

            <!-- Tablet (1024px x 424px) -->
            <source media="(max-width: 1024px)"
                    sizes="1024px"
                    type="image/webp"
                    srcset="@(content?.Image?.GetCropUrl(width: 1024, height: 424, preferFocalPoint: true, furtherOptions: "&format=webp",quality:80))">

            <!-- Laptop (1440px x 424px) -->
            <source media="(max-width: 1440px)"
                    sizes="1440px"
                    type="image/webp"
                    srcset="@(content?.Image?.GetCropUrl(width: 1440, height: 424, preferFocalPoint: true, furtherOptions: "&format=webp",quality:80))">

            <!-- Default (Desktop 1440px x 560px) -->
            <img class="img-fluid banner-image"
                 width="1400" 
                 height="560"
                 src="@(content?.Image?.GetCropUrl(width: 1440, height: 560, preferFocalPoint: true, furtherOptions: "&format=webp",quality:80))"
                 alt="article">
        </picture> *@


    }

    @if (content?.AddScroll == true)
        {

            <a class="scroll-down" id="scrollButton">
                <p class="black-950 para">@content?.ScrollButtonText</p>
                <img src="~/assets/img/icons/line-arrow-down.svg" class="img-fluid" alt="">
            </a>
        }
    </div>
