@using Umbraco.Cms.Core.Models.Blocks
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem<OrderNefElectricitySection>>
@{
    var content = Model?.Content;
    var setting = Model?.Settings as SectionSettingModel;
    var formUrl = Umbraco?.Content(new Guid("b8ecfce9-f1a7-4485-8d36-e08ec5166e26"))?.Url()?.TrimEnd("/");
}

<!-------------------------------------- order nef power --------------------->
<div class="order-nef-power @setting?.Theme">
    <input type="hidden" id="package" value="electricity" />
    <input type="hidden" id="redirecturl" value="@formUrl" />
    <div class="container">
        <div class="section-heading">
            <h2>@content?.HeadingText</h2>
            @Html?.Raw(content?.DescriptionText)
        </div>
        <div class="row">
            @if (content?.ElectricityPackaseList?.Count() > 0)
            {
                var popupGuid = Guid.NewGuid();
                @foreach (var item in content?.ElectricityPackaseList)
                {
                    var electricityBlock = item as ElectricityPackages;
                    <div class="col-md-6">
                        <div class="order-nef-card">
                            <div class="card-body">
                                <h3>@electricityBlock?.Heading</h3>
                                <ul>
                                    @if (electricityBlock?.TextList?.Count() > 0)
                                    {
                                        @foreach (var list in electricityBlock.TextList)
                                        {
                                            <li>
                                                <p class="">@list</p>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="multiple-buttons m-auto">

                                    <a href="javascript:void(0)" class="btn electric-flow @(!string.IsNullOrWhiteSpace(electricityBlock?.OrderButtonTheme) ? electricityBlock?.OrderButtonTheme : "light_blue_btn")" style="border:1px solid #@electricityBlock?.OrderButtonBorder" electricity-type-id="@electricityBlock.Id">
                                        @(!string.IsNullOrWhiteSpace(electricityBlock?.OrderButtonText) ? electricityBlock?.OrderButtonText : "koeb-stroem")
                                    </a>

                                    @if (!string.IsNullOrWhiteSpace(electricityBlock?.SeeMoreButtonText))
                                    {
                                        <button type="button"
                                                class="btn border_black-200 @(!string.IsNullOrWhiteSpace(electricityBlock?.SeeMoreButtonTheme) ? electricityBlock?.SeeMoreButtonTheme : "white_bg_btn")" white_bg_btn"
                                                data-bs-toggle="modal"
                                                data-bs-target="#readMorePopup-@(popupGuid)" style="border:1px solid #@electricityBlock?.ButtonBorderColor" style="border:1px solid #@electricityBlock?.ButtonBorderColor">
                                            @electricityBlock?.SeeMoreButtonText
                                        </button>
                                    }
                                </div>
                            </div>

                            <div class="position-img">
                                @if (electricityBlock?.DefaultTagImage?.Content != null)
                                {
                                    <img src="@electricityBlock?.DefaultTagImage.MediaUrl()" class="img-fluid defaultImage li" alt="" />
                                }
                                @if (electricityBlock?.HoverTagImage?.Content != null)
                                {
                                    <img src="@electricityBlock?.HoverTagImage?.MediaUrl()" class="img-fluid hoverImage d-none" alt="" />
                                }
                            </div>


                        </div>
                        <!-------------------------------------------Modal ------------------------------->
                        <div class="modal fade"
                             id="readMorePopup-@(popupGuid)"
                             data-bs-keyboard="false"
                             tabindex="-1"
                             aria-labelledby="staticBackdropLabel">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <h4 class="modal-title" id="staticBackdropLabel">@electricityBlock?.ModelHeadingText</h4>
                                    </div>
                                    <div class="modal-body">
                                        @Html?.Raw(electricityBlock?.ModelDescriptionText)
                                        <br />
                                        <a href="javascript:void(0)" class="btn @(!string.IsNullOrWhiteSpace(electricityBlock?.ModelButtonTheme) ? electricityBlock?.ModelButtonTheme : "dark_blue_btn") electric-flow" style="border:1px solid #@electricityBlock?.ModelButtonBorderColor" electricity-type-id="@electricityBlock?.Id">@(!string.IsNullOrWhiteSpace(electricityBlock?.ModelButtonText) ? electricityBlock?.ModelButtonText : "koeb-stroem")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>
<script asp-append-version="true" src="~/assets/js/electricityFlow.output.min.js"></script>