@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoProject.App_Code.Models;
@using Umbraco.Forms.Web;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var roots = Umbraco?.ContentAtRoot();
    var homeRoots = roots?.Where(x => x.IsDocumentType("home"))?.ToList();
    var globalWebSiteSetting = roots?.Where(x => x.IsDocumentType("globalWebSiteSetting"))?.FirstOrDefault();
    var globalNavigation = globalWebSiteSetting?.Children<Navigation>()?.FirstOrDefault();

    var globalSetting = Model?.Root()?.Children<WebSiteSetting>()?.FirstOrDefault()?.Children<HomeGlobalSetting>()?.FirstOrDefault();
    var homeWebSiteSetting = Model?.Root()?.Children<WebSiteSetting>()?.FirstOrDefault();
    var navigation = homeWebSiteSetting?.Children<HomeNavigation>()?.FirstOrDefault();
}

<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Model?.Value("metaDescription")">
    <title>@Model?.Value("metaTitle")</title>
    <!------------------------ owl slider ------------------------->
    @* <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" rel="stylesheet" async> *@

    <!-------------------style css--------------->

    <link rel="stylesheet" href="~/assets/style/css/style.css" async>
    @*<link rel="stylesheet" href="~/assets/style/css/style.css" media="print" onload="this.media='all'" async>*@

    <script src="~/assets/js/jquery.output.min.js"></script>
    
    <link rel="apple-touch-icon" sizes="57x57" href="/media/w5zjbrap/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/media/bz4ddvo0/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/media/3lxjv4dh/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/media/ytjeochw/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/media/pdekpcou/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/media/dhidhpsl/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/media/b03pee5c/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/media/3nshoszm/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/media/se2haupg/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/media/onjkwtdi/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/media/5flfry5v/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/media/hovo1y3h/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/media/zbwhdrcx/favicon-16x16.png">
<link rel="manifest" href="/media/ms2bjgl5/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/media/jc0efpeh/ms-icon-144x144.png">


    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>*@
    @Html.RenderUmbracoFormDependencies(Url)
</head>

<body>
    <script type="text/javascript">
(function(window, document, dataLayerName, id) {
window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName);var qPString=qP.length>0?("?"+qP.join("&")):"";
tags.async=!0,tags.src="https://nef.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
!function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
})(window, document, 'dataLayer', '3659bc79-7d48-4500-a7b6-67ea83c7933e');
</script>
    <!--------------------------- top-header------------------------->
    <div class="top-header-outer @(globalSetting?.TabBackgroundTheme)">
        <div class="container-xl">
            <div class="top-header">
                <div class="top-header-tabs">
                    <ul class="tabs-item" id="pills-tab" role="tablist">
                        @foreach (var item in homeRoots)
                        {
                            var tabClass = string.Empty;
                            var globalSettings = item?.Children<WebSiteSetting>()?.FirstOrDefault()?.Children<HomeGlobalSetting>()?.FirstOrDefault();
                            if (!string.IsNullOrWhiteSpace(globalSettings?.Tab))
                            {
                                tabClass = globalSettings?.Tab == "Erhverv" ? "erhverv-tab" : globalSettings?.Tab == "Repræsentantskabsvalg" == true ? "Repræsentantskabsvalg-tab" : "privat-tab";
                            }
                            else
                            {
                                tabClass = "privat-tab";
                            }
                            <li class="tabs-list">
                                <a href="@item?.Url()" id="@tabClass" class="tabs-link @(Model?.Url()?.Contains(item?.Url()??"")== true ?"active":"") ">@item?.Name</a>
                            </li>
                        }
                    </ul>
                </div>

                @if (globalNavigation != null && globalNavigation.NavigationItem?.Count() > 0)
                {
                    <div class="top-header-navigation">
                        <ul class="navigation-item">
                            @foreach (var item in globalNavigation.NavigationItem)
                            {
                                <li class="navigation-list">
                                    <a href="@item?.Url" class="navigation-link">@item?.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="tab-outer" id="pills-tabContent">
        <div id="tab_id" class="@(globalSetting?.Tab?.Trim() == "Erhverv" ? "business-tab" : globalSetting?.Tab?.Trim() == "Repræsentantskabsvalg" ? "Repræsentantskabsvalg-tab" :"Privat-tab") fade show active">

            @Html.Partial("_Header", navigation)

            @RenderBody()

            @Html.Partial("_Footer", navigation)
        </div>
    </div>
    <!--------------------------jquery------------------>
    <!------------------------bootstrap 5--------------->
    <script defer src="~/assets/libs/bs5/js/bootstrap.bundle.min.js"></script>

    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>  *@
    <script src="~/assets/js/custom.output.min.js"></script>
    <script src="~/assets/js/global.output.min.js"></script>
    <!-------------------------------------------Modal ------------------------------->
    <div class="modal fade"
         id="staticBackdrop"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark_blue_btn white" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>