@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoProject.App_Code.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var roots = Umbraco?.ContentAtRoot();
    var homeRoots = roots?.Where(x => x.IsDocumentType("home"))?.ToList();
    var globalWebSiteSetting = roots?.Where(x => x.IsDocumentType("globalWebSiteSetting"))?.FirstOrDefault();
    var globalNavigation = globalWebSiteSetting?.Children<Navigation>()?.FirstOrDefault();

    var globalSetting = Model?.Root()?.Children<WebSiteSetting>()?.FirstOrDefault().Children<HomeGlobalSetting>().FirstOrDefault();
    var homeWebSiteSetting = Model?.Root()?.Children<WebSiteSetting>()?.FirstOrDefault();
    var navigation = homeWebSiteSetting?.Children<HomeNavigation>()?.FirstOrDefault();

    // var footerSelectionValue = string.Empty;
    // if (Model?.HasValue("selectFooter") == true)
    //     footerSelectionValue = Model.Value<string>("selectFooter");

    // var footer = navigation?.Footer1?.FirstOrDefault()?.Content;
    // var footerName = "Footer1";

    // if (!string.IsNullOrWhiteSpace(footerSelectionValue))
    // {
    //     if (footerSelectionValue == "Footer2")
    //     {
    //         footer = navigation?.Footer2?.FirstOrDefault()?.Content;
    //         footerName = "Footer2";
    //     }
    // }

    // FooterModel footerModel = new() { FooterContent = footer, FooterName = footerName };
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model?.Value("metaTitle")</title>
    <!------------------------ owl slider ------------------------->
    <link rel="stylesheet" href="~/assets/libs/owl/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="~/assets/libs/owl/css/owl.theme.default.min.css"/>
    @* <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css" rel="stylesheet" async> *@

    <!-------------------style css--------------->

    <link rel="stylesheet" href="~/assets/style/css/style.css">
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/libs/owl/js/owl.carousel.min.js"></script>
</head>

<body>
    @{
        var tab = "";
    }
    <!--------------------------- top-header------------------------->
    <div class="top-header-outer @(globalSetting?.TabBackgroundTheme)">
        <div class="container-xl">
            <div class="top-header">
                <div class="top-header-tabs">
                    <ul class="tabs-item" id="pills-tab" role="tablist">
                        @foreach (var item in homeRoots)
                        {
                             tab = Model?.Url()?.Contains("/erhverv/") == true ? "erhverv-tab" : Model?.Url()?.Contains("/repraesentantskabsvalg/") == true ? "Repræsentantskabsvalg-tab" : "privat-tab";
                            var rootLink = item?.Url() == "/privat/" ? "active" : "";
                            <li class="tabs-list">
                                <a href="@item?.Url()" id="@tab" class="tabs-link @rootLink">@item?.Name</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="top-header-navigation">
                    <ul class="navigation-item">
                        @foreach (var item in globalNavigation?.NavigationItem)
                        {
                            <li class="navigation-list">
                                <a href="@item?.Url" class="navigation-link black-800 fw-400">@item?.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-outer" id="pills-tabContent">
        <div class="@(globalSetting?.TabName?.Trim() == "Erhverv" ? "business-tab" :"") fade show active">

            @Html.Partial("_Header", navigation)

            @RenderBody()

            @Html.Partial("_Footer", navigation)
            <!-- <div class="tab-pane fade" id="erhverv" role="tabpanel" aria-labelledby="erhverv-tab">.b.</div> -->
        </div>
    </div>
    <!--------------------------jquery------------------>
    <!------------------------bootstrap 5--------------->
    <script src="~/assets/libs/bs5/js/bootstrap.min.js" async></script>

     @* <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>  *@
    <script src="~/assets/js/custom.js" async></script>
    <script src="~/assets/js/global.js" async></script>
    <!-------------------------------------------Modal ------------------------------->
    <div class="modal fade"
         id="staticBackdrop"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <video width="100%" height="240" controls>
                        <source src="https://www.youtube.com/watch?v=AFDYnd-XPa8&t=1149s" type="video/mp4" />
                        <source src="" type="video/ogg" />
                    </video>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark_blue_bg white" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>