@{
    Layout = "PurchaseFlowMaster.cshtml";
}
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PurchaseAddressLookup>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var flowName = Context?.Request?.Query["flowName"].ToString();
    var packageType = Context?.Request?.Query["packageType"].ToString();
    var tvPackageStatus = Context?.Request?.Query["tvPackageStatus"].ToString();
    var fiberPackageStatus = Context?.Request?.Query["fiberPackageStatus"].ToString();
}

<input type="hidden" id="flowName" value="@flowName" />
<input type="hidden" id="packageType" value="@packageType" />
<input type="hidden" id="tvPackageStatus" value="@tvPackageStatus" />
<input type="hidden" id="fiberPackageStatus" value="@fiberPackageStatus" />

<div class="account-action order-nef-internet">
    <div class="search-section">
        <div class="container">
            <h2 class="title"> @(packageType == "tv" ? "Kan jeg få nef TV?" : "Kan jeg få nef Fiber?")</h2>
            <div class="form-group autocomplete-container">
                <input type="text" id="adresse" class="form-control " placeholder="Søg" aria-label="Søg" />
                <button type="button" disabled class="btn @(packageType == "tv" ? "dark_purple_btn" : "dark_blue_btn") location-search-button">Søg</button>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4">
                    <div class="order-complete-Bx">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                            <path fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M40 80C62.0914 80 80 62.0914 80 40C80 17.9086 62.0914 0 40 0C17.9086 0 0 17.9086 0 40C0 62.0914 17.9086 80 40 80ZM60.016 29.8201C61.4943 27.9718 61.1949 25.2749 59.3463 23.7963C57.4983 22.3177 54.8013 22.6173 53.3226 24.4656L33.0604 49.7934L24.9549 43.7143C23.0614 42.2941 20.3751 42.6779 18.9549 44.5714C17.5348 46.465 17.9185 49.1513 19.8121 50.5714L31.2406 59.1429C33.0925 60.532 35.7126 60.1989 37.1587 58.3914L60.016 29.8201Z"
                                  fill="#37B4B4"></path>
                        </svg>
                        <h4 class="title">Ja, du kan godt få nef Fiber</h4>
                        <p>Vælg en af fiberpakkerne</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pacakge-section @(packageType == "tv" ? "private-tv-white" : "private-internet-white")">
        <div class="container-xl" id="packagesList">
            
        </div>
    </div>
</div>
<script src="https://cdn.dataforsyningen.dk/dawa/assets/dawa-autocomplete2/1.0.2/unfilled/dawa-autocomplete2.min.js"></script>
<script src="~/assets/js/purchaseaddresslookup.output.min.js"></script>