@using UmbracoProject.App_Code.Models.ApiModels
@model List<FiberPackagesModel>

@if (Model != null && Model.Count > 0)
{
    <div class="section-heading">
        <h2>Find den rigtige fiberpakke</h2>
    </div>
    <div class="package-list">
        <div class="row">
            @foreach (var package in Model)
            {
                string learnMorePopupId = $"readMorePopup-{Guid.NewGuid()}";
                <div class="col-xl-@(Model.Count == 1 || Model.Count == 2 ?"5":Model.Count == 3 ? "4" : "3") col-md-6 mb-32">
                    <div class="package-card">
                        <div class="card-detail">
                            <div class="card-header">
                                <div class="card-heading">
                                    @if (!string.IsNullOrWhiteSpace(package.Name))
                                    {
                                        <h4> @package.Name </h4>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(package.Description))
                                    {
                                        <p> @package.Description </p>
                                    }
                                </div>
                                <div class="price">

                                    <h3>@package.Priceprefix @package.PriceMonthlyDKK Kr.</h3>

                                    @if (!string.IsNullOrWhiteSpace(package.Unit))
                                    {
                                        <p>@package.Unit</p>
                                    }
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    @if (package.Usps != null && package.Usps.Count > 0)
                                    {
                                        @foreach (var usp in package.Usps)
                                        {
                                            @if (!string.IsNullOrWhiteSpace(usp.Name))
                                            {
                                                <li>

                                                    <p>
                                                        <img src="@(!string.IsNullOrWhiteSpace(usp.Icon) ? usp.Icon : "/assets/img/icons/checkmark-green.svg")" class="img-fluid" alt="icon svg" />
                                                        @usp.Name
                                                    </p>
                                                    @if (!string.IsNullOrWhiteSpace(usp.Infotext))
                                                    {
                                                        <span data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="@usp.Infotext">
                                                            <img src="~/assets/img/icons/info-popup.svg" class="img-fluid" alt="info-svg" />
                                                        </span>
                                                    }
                                                </li>
                                            }
                                        }

                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="package-footer">
                            <div class="card-footer">
                                <div class="footer-btn">
                                    <a href="#0" class="btn dark_blue_btn">
                                        Bestil Fiber
                                    </a>

                                    <a href="#@learnMorePopupId" data-bs-toggle="modal" class="package-link">Læs mere</a>
                                    <p class="text-two-line">
                                        @package.Disclaimer
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-------------------------------------------Modal ------------------------------->
                <div class="modal fade" id="@learnMorePopupId" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header flex-column align-items-start pb-0">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                <h4 class="modal-title" id="staticBackdropLabel">@package.Name</h4>

                                <p class="fw-600 black-950 price mb-32">@package.PriceMonthlyDKK,- <span class="small">@package.Unit</span></p>
                            </div>
                            <div class="modal-body">
                                @* <h5 class="box-inner-title mb-8">Hvad er smart WiFi?</h5> *@
                                <p>@package.LearnMore</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}