@* @using UmbracoProject.App_Code.Models
@model FooterModel *@
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomeNavigation>

<!----------------------------------------- Footer --------------------->
<footer class="footer @(!string.IsNullOrWhiteSpace(Model?.FooterTheme) && Model?.FooterTheme?.Contains("dark-footer") == true ?"" : Model?.FooterTheme)">

    <div class="top-footer">
        <div class="container-xl">
            <h3>@Model?.HeadingText</h3>
            @if (Model?.TopFooterButtonList?.Count > 0)
            {
                <div class="multiple-buttons justify-content-center">
                    @foreach (var item in Model?.TopFooterButtonList)
                    {
                        var buttonList = item.Content as IconLinkList;
                        <button type="button" class="btn @buttonList?.ButtonTheme" style="border:1px solid #@buttonList?.BorderColor">
                            <img src="@buttonList?.Icon?.MediaUrl()" class="img-fluid" alt="footer-logo">
                            @buttonList?.Link?.Name
                        </button>

                    }
                </div>
            }
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container-xl">
            <div class="footer-detail">
                <div class="footer-address">
                    <div class="footer-logo">
                        <img src="@Model?.FooterLogo?.MediaUrl()" class="img-fluid" alt="footer-logo">
                    </div>
                    <div class="address">
                        @Html?.Raw(Model?.FooterAddress)
                    </div>
                    @if (Model?.SocialLinkList?.Count > 0)
                    {
                        <div class="social-icon">
                            <ul class="social-item">

                                @foreach (var item in Model?.SocialLinkList)
                                {
                                    var socialLink = item?.Content as FooterSocialLink;

                                    <li class="social-list">
                                        <a href="@socialLink?.SocialLink" class="social-link">
                                            <img src="@socialLink?.Icon?.MediaUrl()" class="img-fluid" alt="social-icon">
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>

                <div class="footer-menu accordion">
                    @{
                        var count = 1;
                    }
                    @if (Model?.OpeningTimes?.Count() > 0)
                    {
                        var id = $"collapse{count++}";
                        <div class="footer-menu-list accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#@id" aria-expanded="true" aria-controls="@id">
                                @Model?.OpeningTimeHeading
                            </button>
                            <ul class="accordion-collapse collapse" id="@id" aria-labelledby="@id">
                                @foreach (var item in Model?.OpeningTimes)
                                {
                                    <li>@item</li>
                                }
                            </ul>
                        </div>

                    }

                    @if (Model?.AccordionMenuList?.Count > 0)
                    {
                        @foreach (var item in Model?.AccordionMenuList)
                        {
                            var id = $"collapse{count++}";
                            var accordion = item?.Content as FooterMenuAccordion;

                            <div class="footer-menu-list accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@id" aria-expanded="true" aria-controls="@id">
                                    @accordion?.HeadText
                                </button>
                                <ul class="accordion-collapse collapse" id="@id" aria-labelledby="@id">
                                    @foreach (var link in accordion?.MenuItems)
                                    {
                                        <li><a href="@link?.Url">@link?.Name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    }

                </div>
                @if (!string.IsNullOrWhiteSpace(Model?.TagImage?.MediaUrl()))
                {
                    <div class="position-img">
                        <img src="@Model?.TagImage?.MediaUrl()" class="img-fluid" alt="img">
                    </div>
                }
            </div>
            <div class="copyright">
                <span class="small">@Model?.CopyRightText</span>
                @if (Model?.FooterLinks?.Count() > 0)
                {
                    @foreach (var item in Model?.FooterLinks)
                    {
                        <span class="small"><a href="@item?.Url">@item?.Name</a></span>
                    }
                }
            </div>
        </div>
    </div>
</footer>